.idea
.env
venv 

*.pyc
*.pkl

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

temp
/scripts/CODES PRODUITS OFFICIELS SANS NUMEROTATION 2.xlsx
*.csv
