python-dotenv
whitenoise
requests
requests-oauthlib
cryptography

daphne
channels
Django
djangorestframework
django-storages
drf-yasg
django-cors-headers

psycopg
psycopg[binary]
psycopg2-binary
boto3
pandas
openpyxl
xlsxwriter
xlrd

tqdm